@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: rgb(187, 117, 117);
}

.start-btn,
.info-box,
.quiz-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

/* start quiz button styling */
.start-btn button{ 
    display: none;
    padding: 10px 30px;
    color: rgb(187, 117, 117);
    font-size: 25px;
    font-weight: 500;
    outline: none;
    border: none;
    border-radius: 5px;
    background: white;
    cursor: pointer;

}
/* styling info box */
.info-box{
    display: none;
    background: white;
    width: 540px;
    border-radius: 5px;
}
.info-box .info-title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0px 35px;
    font-size: 20px;
    font-weight: 600;


}
.info-box .info-list{
    height: 200px;
    width: 100%;
    padding: 15px 35px;
    
}
.info-box .info-list .info{
  margin: 5px 0px;

}

.info-box .info-list .info span{
    font-weight: bold;
    color:red
}

.info-box .buttons{
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 35px;
    border-top: 1px solid lightgray;


    
}
.info-box .buttons button{
    margin: 0px 5px;
    height: 40px;
    width: 100px;
    /* background:  rgb(187, 117, 117); */
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.5s ease-in-out;
   
}

.buttons button.exit{ 
    color:  rgb(187, 117, 117);
    
}

.buttons button.exit:hover{
    background-color: rgb(187, 117, 117);
    color: white;
}
 
.buttons button.continue{
    background-color:  rgb(187, 117, 117);
    color: white; 
    
}

.buttons button.continue:hover{
 background: rgb(187, 117, 117);
}

.quiz-box{
    background: white;
    width: 550px;
    border-radius: 5px;
}

.quiz-box header{
    display: relative;
    z-index: 99;
    height: 70px;
    padding: 0px 30px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px  rgba(0, 0, 0, 0.1);
    align-items: center;
}

.quiz-box header .title{
    font-size: 20px;
    font-weight: 600;
}

.quiz-box header .time{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 145px;
    height: 45px;
    background: rgb(219, 164, 164);
    border: 1px solid rgb(219, 164, 164);
    border-radius: 5px;
    padding: 0 8px;
}

.quiz-box header .time .time-text{
    font-weight: 600;
    font-size: 17px;
    user-select: none;
}

.quiz-box header .time .time-sec{
    font-size: 20px;
    font-weight: 600;
    background: brown;
    height: 30px;
    width: 40px;
    text-align: center;
    color: white;
    border-radius: 5px;
    line-height: 30px;
    border: 1px solid brown;
    user-select: none;
}

.quiz-box section{
    padding: 25px 30px 20px 30px;
    background: white;
} 